.header {
  padding: 5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  margin-top: 0.25rem;
  color: white;
  background-image: url("../../assets/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header h1 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
